p {
  font-family: Lato;
}

.main-content {
  background-color: #303030;
  background-size: cover;
  background-image: url(https://cdn.jsdelivr.net/gh/maxgerashenko/maxgerashenko.com@master/src/img/main-background.jpg);
  height: 100vh;
}
