<div class="pixel-overlay fixed"></div>
<div class="main-container take-all-visible-space">
  <div class="floater fixed"></div>
  <div class="main-content">
    <div class="photo-container">
      <div class="photo"></div>
    </div>
    <div class="text">
      <span class="bold">Hey, I'm Max Gerashenko,</span>
      <span> front-end engineer.</span>
      <p><span>Let's make it work on the web!</span></p>
    </div>
    <div class="social-links">
      <div>
        <a
          href="https://www.linkedin.com/in/maxgerashenko"
          data-reactid=".0.1.0.2.0.2.0.0"
          >LinkedIn</a
        >
        <br />
        <a
          href="https://github.com/maxgerashenko"
          data-reactid=".0.1.0.2.0.2.0.0"
          >Github</a
        >
        <br />
        <a
          href="https://facebook.com/profile.max.gerashenko"
          data-reactid=".0.1.0.2.0.2.0.0"
          >facebook</a
        >
      </div>
    </div>
  </div>
</div>
