* {
  --main-backbround-url: url('https://cdn.jsdelivr.net/gh/maxgerashenko/maxgerashenko.com@master/src/img/main-background.jpg');
  --pixel-url: url('https://cdn.jsdelivr.net/gh/maxgerashenko/maxgerashenko.com@master/src/img/pixel.png');
  --photo-url: url('https://cdn.jsdelivr.net/gh/maxgerashenko/maxgerashenko.com@master/src/img/photo.png');
}

.pixel-overlay {
  background-image: var(--pixel-url);
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.floater {
  top: 0;
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.52);
  height: 50%;
  width: 100%;
  margin-bottom: -5em;
}

.main-container {
  background-color: #303030;
  background-size: cover;
  background-image: var(--main-backbround-url);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  --photo-size: 143px;
  background-image: var(--photo-url);
  background-size: var(--photo-size) var(--photo-size);
  position: relative;
  border-radius: 50%;
  width: var(--photo-size);
  height: var(--photo-size);
  border: 4px solid #fff;
  margin-top: calc(50vh - 98px);
  transform-style: preserve-3d;
}

.photo:before {
  --shaddow-size: 8px;
  --half-photo-size: calc(var(--photo-size) / 2);
  content: '';
  position: absolute;
  margin-left: calc(-1 * var(--shaddow-size));
  margin-top: calc(var(--photo-size) / 2);
  width: calc(var(--photo-size) + var(--shaddow-size));
  height: calc(var(--photo-size) / 2);
  background-color: hsla(0, 0%, 100%, 0.46);
  border-bottom-left-radius: var(--half-photo-size);
  border-bottom-right-radius: var(--half-photo-size);
  transform: translateZ(-1px);
}

.text {
  color: white;
  padding-top: 1em;
  font-size: 26px;
  text-align: center;
}

.text span {
  font-family: 'Print Clearly', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.text span.bold {
  font-family: 'Print Bold';
}
