<div class="pixel-overlay fixed"></div>
<div class="main-container take-all-visible-space">
  <div class="floater fixed"></div>
  <div class="main-content">
    <div class="photo-container">
      <div class="photo"></div>
    </div>
    <div class="text">
      <span class="bold">Hi, I'm Max Gerashenko,</span>
      <span> front_end engineer.</span>
      <p><span>Let's make it work on the web!</span></p>
    </div>
    <div class="social-links">
      <a
        class="mdi mdi-linkedin"
        href="https://www.linkedin.com/in/maxgerashenko"
        data-reactid=".0.1.0.2.0.2.0.0"
      ></a>
      <br />
      <a
        class="mdi mdi-github"
        href="https://github.com/maxgerashenko"
        data-reactid=".0.1.0.2.0.2.0.0"
      ></a>
      <br />
      <a
        class="mdi mdi-facebook"
        href="https://facebook.com/profile.max.gerashenko"
        data-reactid=".0.1.0.2.0.2.0.0"
      ></a>
    </div>
  </div>
</div>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.3.0/firebase-app.js';
  import { getAnalytics } from 'https://www.gstatic.com/firebasejs/9.3.0/firebase-analytics.js';
  // TODO: Add SDKs for Firebase products that you want to use
  https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: 'AIzaSyDl9RF_osari1kfPwB_7P7577eHfGC7Vvw',
    authDomain: 'maxgerashenkocom.firebaseapp.com',
    projectId: 'maxgerashenkocom',
    storageBucket: 'maxgerashenkocom.appspot.com',
    messagingSenderId: '392261338644',
    appId: '1:392261338644:web:743d92947ce232d96e0901',
    measurementId: 'G-17WSZ4T33M',
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
