<div class="pixel-overlay fixed"></div>
<div class="main-container take-all-visible-space">
  <div class="floater fixed"></div>
  <div class="main-content">
    <div class="photo-container">
      <div class="photo"></div>
    </div>
    <div class="text">
      <span class="bold">Hi, I'm Max Gerashenko,</span>
      <span> front_end engineer.</span>
      <p><span>Let's make it work on the web!</span></p>
    </div>
    <div class="social-links">
      <a
        class="mdi mdi-linkedin"
        href="https://www.linkedin.com/in/maxgerashenko"
        data-reactid=".0.1.0.2.0.2.0.0"
      ></a>
      <br />
      <a
        class="mdi mdi-github"
        href="https://github.com/maxgerashenko"
        data-reactid=".0.1.0.2.0.2.0.0"
      ></a>
      <br />
      <a
        class="mdi mdi-facebook"
        href="https://facebook.com/profile.max.gerashenko"
        data-reactid=".0.1.0.2.0.2.0.0"
      ></a>
    </div>
  </div>
</div>
<div [innerHtml]="html"></div>
