/* Add application styles & imports to this file! */
@import url('http://fonts.cdnfonts.com/css/print-clearly');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: Lato;
}

.take-all-visible-space {
  height: 100vh;
}

.fixed {
  left: 0;
  top: 0;
  position: fixed;
}
